Source: swift-informant
Section: net
Priority: optional
Maintainer: Florian Hines <syn@ronin.io>
Uploaders: Florian Hines <syn@ronin.io>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-setuptools,
 python-webob (>= 0.9.7.1~hg20100111-1~racklabs1),
 python-greenlet (>= 0.3.1),
 python-eventlet (>= 0.9.8),
 python-nose,
 python-pastedeploy
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/pandemicsyn/swift-informant
Vcs-Browser: https://github.com/pandemicsyn/swift-informant
Vcs-Bzr: https://github.com/pandemicsyn/swift-informant


Package: python-swift-informant
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-setuptools,
 python-pastedeploy,
 python-webob (>= 0.9.7.1~hg20100111-1~racklabs1),
 python-xattr,
 python-greenlet (>= 0.3.1),
 python-eventlet (>= 0.9.8),
 swift-proxy (>=1.3)
Provides: ${python:Provides}
Description: Swift Proxy Middleware that fires statsd events.
